#container{
    background-color:rgb(219, 136, 224);
    width: 1850px;
    height: 1200px;
}
.card{
    background-color:rgb(224, 174, 121);
    width: 600px;
    height: 580px;
    margin-bottom: 30px;
    margin-left: 700px
}
img {
    height: 300px;
    width: 350px;
    margin-left: 110px;
    margin-top: 50px;
}
p{
    font-size: 20px;
    margin-left: 100px;
    margin-right: 50px;
}
button{
    background-color:rgb(60, 255, 60);
    width: 100px;
    height: 50px;
    margin-left: 230px;
    font-size: 15px;
}
h1{
    margin-left: 80px;
    margin-right: 50px;
}